/* ******************** Fonts ******************** */
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap");

.sofia-sans {
  font-family: "Sofia Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.secular-one-regular {
  font-family: "Secular One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-extrabold {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
}

:root {
  --secular-one: "Secular One";
  --kanit-regular: "Kanit", sans-serif;
  --sofia-sans: "Sofia Sans", sans-serif;
}

/* ******************** Fluid Design ******************** */

/* @link https://utopia.fyi/type/calculator?c=320,17,1.125,1920,20,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root {
  --step--2: clamp(0.7rem, calc(0.87rem + -0.14vw), 0.84rem);
  --step--1: clamp(0.94rem, calc(0.95rem + -0.01vw), 0.94rem);
  --step-0: clamp(1.06rem, calc(1.03rem + 0.19vw), 1.25rem);
  --step-1: clamp(1.2rem, calc(1.1rem + 0.47vw), 1.67rem);
  --step-2: clamp(1.35rem, calc(1.17rem + 0.88vw), 2.22rem);
  --step-3: clamp(1.51rem, calc(1.22rem + 1.45vw), 2.96rem);
  --step-4: clamp(1.7rem, calc(1.25rem + 2.25vw), 3.95rem);
  --step-5: clamp(1.91rem, calc(1.25rem + 3.35vw), 5.26rem);
  --step-6: clamp(2.15rem, calc(1.18rem + 4.86vw), 7.01rem);
}

/* ******************** Custom Properties ******************** */
:root {
  /*
    MediaQueries
      sm - 0px - 0em
      md - 768px - 48em
      lg - 992px - 62em
      xl - 1200px - 75em
  */
  --container-sm: 48em;
  --container-md: 62em;
  --container-lg: 75em;

  --main-top: 2rem;
  --main-bottom: 2rem;

  --font-primary: "PT Sans", Avenir, system-ui, sans-serif;
  --font-logo: "Raleway", sans-serif;
  --font-logo-black: "Raleway Black", sans-serif;
  --font-code: "Roboto Mono", Consolas;

  --color-primary: #e7562e;
  --color-secondary: #e7762e;
  --color-svg-bg: #2b3a42;

  --color-light-bg: #fcfcfc;
  --color-light-bg-alt: #f7f7f7;
  --color-light-bg-opacity: rgba(255, 255, 255, 0.85);
  --color-light-text: #202225;
  --color-light-link: #08c;
  --color-light-contrast: #eee;

  --color-dark-bg: #20252c;
  --color-dark-bg-alt: #202b38;
  --color-dark-bg-opacity: rgba(0, 0, 0, 0.7);
  --color-dark-text: #fcfcfc;
  --color-dark-link: #73cffa;
  --color-dark-contrast: #3c4654;

  /*        style dashboard             */
  --color-main-dashboard: #f5f5f5;
  --color-header-dashboard: #b6243a;
  --color-button: #b6243a;
  --color-general-dashboard: #f8f9fa;

  --gradient-primary: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-secondary)
  );
  --gradient-link: linear-gradient(
    45deg,
    var(--color-dark-link),
    var(--color-light-link)
  );
}

/* ******************** User Prefers ******************** */

/* ******************** Animations ******************** */

@keyframes bounce {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.bounce {
  animation: bounce 0.4s linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 1.5s linear infinite;
}

@keyframes scroll-image {
  0% {
    opacity: 0;
    scale: 25%;
  }

  100% {
    opacity: 1;
    scale: 100%;
  }
}

/* ******************** Reset CSS ******************** */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: var(--font-primary);
  font-size: clamp(1rem, calc(1rem + 0.5vw), 1.25rem);
  line-height: calc(1em + 0.5rem);
  line-height: 1.5;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  color: var(--color-link);
  transition: all 0.3s ease-out;
}

a:hover {
  color: var(--color-secondary);
}

blockquote {
  padding: 0.5rem 1.5rem;
  border-left: medium solid var(--color-primary);
  opacity: 0.75;
  background-color: var(--color-contrast);
}

blockquote p,
figure {
  margin: 0;
}

code[class*="language-"],
pre[class*="language-"] {
  border-radius: 0.5rem;
  margin-bottom: var(--step-2);
  font-family: var(--font-code);
  font-size: var(--step--1);
}

hr {
  border: thin solid black;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
}

/* https://codepen.io/TechnoBishop/pen/LEVPJw */
iframe,
video {
  width: 100%;
  height: calc((100vw - 4rem) * (9 / 16));
  max-height: calc(800px * 9 / 16);
  aspect-ratio: 16 / 9;
}

label {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--step-3);
  margin-bottom: var(--step-3);
  /* font-weight: 700; */
  line-height: 1.2;
  overflow-wrap: break-word;
  text-wrap: balance;
}

h1 {
  font-size: clamp(2rem, 6vw, 3.5rem);
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

h3 {
  font-size: clamp(1.2rem, 3vw, 2rem);
}

h4 {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

h5 {
  font-size: clamp(0.9rem, 2vw, 1.2rem);
}

h6,
small {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

p,
ul,
blockquote,
table {
  margin-top: 0;
  margin-bottom: var(--step-2);
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
  hyphens: auto;
}

ul ul {
  margin-bottom: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-of-type(odd) {
  background-color: var(--color-contrast);
}

th {
  background-color: var(--color-text);
  color: var(--color-bg);
}

td,
th {
  padding: 0.25rem;
  border: thin solid var(--color-text);
  text-align: left;
}

/* ******************** Animate Details ******************** */

@keyframes accordion-open {
  from {
    max-height: var(--accordion-min-height);
  }

  to {
    max-height: var(--accordion-max-height);
  }
}

@keyframes accordion-close {
  from {
    min-height: var(--accordion-max-height);
  }

  to {
    min-height: var(--accordion-min-height);
  }
}

details {
  --accordion-min-height: calc(var(--step-0) + var(--step-1) + var(--step-0));
  --accordion-max-height: 300px;
  border-bottom: thin solid var(--color-text);
  overflow: hidden;
  background-color: var(--color-border);
  animation: accordion-close 0.4s ease-in-out;
  transform-origin: top;
  transition: all 0.3s ease;
}

details[open] {
  animation: accordion-open 0.3s ease-in-out;
  transform-origin: top;
}

summary {
  position: relative;
  padding: var(--step-0);
  padding-left: var(--step-3);
  display: block;
  font-size: var(--step-1);
  cursor: pointer;
  background-color: var(--color-bg-alt);
  transition: all 0.3s ease;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: "►";
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  transform: rotate(0);
  transform-origin: center;
  transition: 0.2s transform ease;
}

details[open] > summary::before {
  transform: rotate(90deg);
  transition: 0.45s transform ease;
}

details[open] summary,
summary:hover {
  color: var(--color-text);
  background-color: var(--color-bg-opacity);
}

details > *:not(summary) {
  padding: var(--step-0);
  background-color: var(--color-contrast);
}

summary > * {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 48em) {
  [id] {
    scroll-margin-top: 4rem;
  }
}

/* ******************** Utilities ******************** */
.line {
  width: 100%;
  height: 2px;
  border: 2px solid #b6243a;
  background-color: black;
}

/* ******************** Components UI ******************** */

/********************Login************/

.img-background {
  width: 100%;
  height: 100vh;
  background-image: url(../static/assets/background-login.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  filter: blur(3px);
  position: absolute;
}
.title-login {
  position: relative;
  bottom: 0.1rem;
  text-align: center;
  color: #fff;
  font: var(--kanit-regular);
  font-weight: 800;
  font-size: 3rem;
  filter: drop-shadow(1 1 1 1 #000);
}
.login-form {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.form-items {
  width: 40%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-content {
  width: 20rem;
  height: 20rem;
  background-color: #ffffff45;
  border: 0.1px solid #ffffff60;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    position: absolute;
    top: 8rem;
  }
}
.inputs-forms {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0.5rem;
  input {
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 0.3rem;
    padding-left: 1rem;
    margin-top: 0.6rem;
    font-family: var(--secular-one);
    font-size: 1.1rem;
  }
  input::placeholder {
    color: #0005;
    font-size: 1.1rem;
    padding-left: 0.1rem;
  }
  label {
    color: #fff;
    font-family: var(--secular-one);
    font-size: 1.2rem;
  }
}
.btn-inputs-forms {
  margin-top: 1.5rem;

  button {
    border-radius: 100px;
    padding: 0.4rem;
    width: 10rem;
    border: none;
    font-family: var(--secular-one);
    background-color: #6c7385;
    color: #fff;
    cursor: pointer;
  }
}
.icons-footer {
  position: absolute;
  bottom: 2.5rem;
  width: 100%;
  height: auto;
}
.icons {
  width: 40%;
  height: 12.5vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  img {
    width: 100px;
    height: 100px;
    border-radius: 30px;
  }
}
/********************** Diseño dashboard *****************/
.position-dashboard {
  display: flex;
  flex-wrap: wrap;
}
.header-dashboard {
  width: 100%;
  height: 10vh;
  background-color: var(--color-header-dashboard);
  display: flex;
  justify-content: space-between;
}
.main-dashboard {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 16%;
  height: 100vh;
  background-color: var(--color-main-dashboard);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.title-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;

  img {
    width: 80px;
    height: 80%;
  }
  h1 {
    font-size: 2.5rem;
    font-family: var(--secular-one);
    color: #fff;
  }
}
.tools-exit-help {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 1.8rem;
  img {
    width: 50px;
    height: 50px;
    margin: 0.5rem;
  }
  img:nth-child(2) {
    width: 40px;
    height: 40px;
  }
}
.title-main-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;

  h3 {
    font-size: 1.8rem;
    text-align: center;
    width: 80%;
    height: auto;
    margin: 25px 10px;
  }
}
.nav-dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  font-family: var(--sofia-sans);
  a {
    display: flex;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0.2rem;
  }
  a > svg {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0 0.3rem;
  }

  details {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  summary {
    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
    width: auto;
    height: 3rem;
    text-align: left;
  }

  details > a {
    margin-left: 1rem;
    padding: 0.1rem;
    text-decoration: none;
    font-size: 1.1rem;
  }
}
/*********** Estilos panel principal de estadisticas ************/
.general-dashboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  background-color: var(--color-general-dashboard);
  height: auto;
  width: 84%;
  overflow-y: hidden;
}
.div-user-name {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0.5rem;
  padding-right: 2rem;
}
.user-name {
  width: auto;
  height: auto;
  background-color: #fff;
  border: 0.1px solid rgb(153, 153, 153);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-self: center;
  margin: 0.5rem;
  padding: 0.3rem;
  p {
    margin: 0;
    width: auto;
    height: auto;
    font-size: 1rem;
  }
}
.div-stadist-parroquies {
  width: 100%;
  height: auto;
  margin-bottom: 1.2rem;
}
.title-stadist-parroquies {
  display: flex;
  justify-content: center;
  h4 {
    margin: 0;
    padding: 0;
  }
}
.stadist-parroquies {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: auto;
}

.div-analytics {
  width: 100%;
  height: 80pxw;
  background-color: gray;
}
/****************** componentes reutilizables **************/
.btn-mod {
  width: 10%;
}
.modal-content {
  width: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 2rem;
}
/****    cards de estadisticas principales  ***/
.card-parroquies {
  width: 13.6rem;
  height: 9.5rem;
  margin-top: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0.5rem;
  padding-top: 1.5rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  h5 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
  }
  span {
    margin: 0;
    padding: 0;
    font-size: 4rem;
  }
}
.card-blue {
  background-color: #316cf4;
}
.card-yellow {
  background-color: #f6c344;
}
.card-red {
  background-color: #cb444a;
}
.card-gray {
  background-color: #717783;
}
.card-green {
  background-color: #10cc00;
}

/*************** styles divisiones *******************/

.procedures_record {
  margin: 0;
  padding: 0;
}
.title_procedures_record {
  font-size: 2rem;
  margin-left: 2rem;
}
.data_form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.data_form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  padding: 0;
  button {
    background-color: var(--color-button);
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 14px;
    width: 8rem;
  }
  button:hover {
    background-color: #75202d;
    transition: 0.1s all ease-in-out;
  }
  h4 {
    margin-bottom: 0;
    font-size: 2rem;
  }
}
.form-style {
  background-color: #f0f0f0;
  border-radius: 20px;
  border: 0.1px solid rgb(184, 184, 184);
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem;
  padding: 1rem;
  div {
    font-size: 1.2rem;
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    font-family: var(--sofia-sans);

    label {
      font-weight: 600;
    }
    select {
      width: 20rem;
      height: 2.5rem;
      padding: 0.5rem;
      border-radius: 18px;
      outline: none;
    }
    input {
      width: 20rem;
      height: 2.5rem;
      padding: 1rem;
      border-radius: 18px;
      outline: none;
      border: thin solid rgb(114, 114, 114);
    }
  }
}
.position {
  position: relative;
  bottom: 10px;
}
.modal-content {
  padding: 0;
}
/**************** estilos de tablas ********************/

.table-responsive-sm {
  margin: 0 auto;
  overflow-x: scroll;
  width: auto;
  padding: 2rem;
}
.table {
  width: 160%;
  font-size: 1rem;
  td {
    font-family: var(--sofia-sans);
  }
  th {
    text-align: center;
    font-size: 1.2rem;
  }
  tbody tr {
    text-align: justify;
    vertical-align: middle;
  }
  tbody td {
    text-align: center;
    border-bottom: 0.1px solid rgb(188, 188, 188);
    font-size: 1.2rem;
  }
}
.icons-accion {
  width: 10rem;
  padding: 0;
  button {
    width: 50px;
    height: 60px;
    background-color: transparent;
    border: none;
    padding: 0;
  }
}
.section-filter {
  width: 90%;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.filter-search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  input {
    border-radius: 10px;
    outline: none;
    border: none;
    width: 15rem;
    margin: 0.5rem;
  }
  svg {
    width: 25px;
    height: 25px;
  }
}

.z-index {
  z-index: 2;
}
.infoProcedimientos {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  p {
    text-align: start;
    margin: 0;
  }
  h5 {
    margin: 0;
    padding: 0;
  }
}

.general-dashboard ul {
  visibility: visible;
  display: none;
}
.modal-header {
  flex-direction: column-reverse;
  justify-content: center;
  width: 100%;
  padding: 1.2rem;
}
.modal-title {
  margin: 0;
}

.graphic-statistics {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}
.char {
  width: 100%;
}
.modal-header{
  width: auto;
  height: auto;
  align-items: center;
  justify-content: space-around;
}
.header-dashboard-two {
  width: 100%;
  height: 7rem;
  padding: 0;
  background-color: var(--color-header-dashboard);
  display: flex;  
  .title-icon{
    height: auto;
    h1{
      margin: 0 ;
    }
  }
}
.modal-content-two {
  width: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.modal-body{
  width: auto;
  display: flex;
}

.info-modal{
  position: relative;
  width: calc(100/2);
  display: flex;
  justify-content: flex-start;
  text-align: start;
  p{
    margin: .6rem;
  }
}
.section-left{
  padding: 2rem;
}
.section-right{
  padding: 2rem;
  border-left: 5px solid var(--color-button);
}