{% extends "layouts/header-main.html" %} {% block content %}
<div class="general-dashboard">
  <div class="div-user-name">
    <section class="user-name">
      <p>{{ jerarquia }} {{ nombres }} {{ apellidos }} / {{ user.user }}</p>
      <svg
        width="30px"
        height="30px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.0001 1.25C9.37678 1.25 7.25013 3.37665 7.25013 6C7.25013 8.62335 9.37678 10.75 12.0001 10.75C14.6235 10.75 16.7501 8.62335 16.7501 6C16.7501 3.37665 14.6235 1.25 12.0001 1.25ZM8.75013 6C8.75013 4.20507 10.2052 2.75 12.0001 2.75C13.7951 2.75 15.2501 4.20507 15.2501 6C15.2501 7.79493 13.7951 9.25 12.0001 9.25C10.2052 9.25 8.75013 7.79493 8.75013 6Z"
            fill="#000000"
          ></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.0001 12.25C9.68658 12.25 7.55506 12.7759 5.97558 13.6643C4.41962 14.5396 3.25013 15.8661 3.25013 17.5L3.25007 17.602C3.24894 18.7638 3.24752 20.222 4.52655 21.2635C5.15602 21.7761 6.03661 22.1406 7.22634 22.3815C8.4194 22.6229 9.97436 22.75 12.0001 22.75C14.0259 22.75 15.5809 22.6229 16.7739 22.3815C17.9637 22.1406 18.8443 21.7761 19.4737 21.2635C20.7527 20.222 20.7513 18.7638 20.7502 17.602L20.7501 17.5C20.7501 15.8661 19.5807 14.5396 18.0247 13.6643C16.4452 12.7759 14.3137 12.25 12.0001 12.25ZM4.75013 17.5C4.75013 16.6487 5.37151 15.7251 6.71098 14.9717C8.02693 14.2315 9.89541 13.75 12.0001 13.75C14.1049 13.75 15.9733 14.2315 17.2893 14.9717C18.6288 15.7251 19.2501 16.6487 19.2501 17.5C19.2501 18.8078 19.2098 19.544 18.5265 20.1004C18.156 20.4022 17.5366 20.6967 16.4763 20.9113C15.4194 21.1252 13.9744 21.25 12.0001 21.25C10.0259 21.25 8.58087 21.1252 7.52393 20.9113C6.46366 20.6967 5.84425 20.4022 5.47372 20.1004C4.79045 19.544 4.75013 18.8078 4.75013 17.5Z"
            fill="#000000"
          ></path>
        </g>
      </svg>
    </section>
  </div>
  <h2>enfermeria</h2>
  <!-- section filter -->
  <div class="section-filter">
    <section class="filter-search">
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M14.9536 14.9458L21 21M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
            stroke="#000000"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </g>
      </svg>
      <input type="search" name="Buscar" id="" placeholder="Buscar" />
    </section>
  </div>
  <!-- tabla -->
  <div class="table-responsive-sm">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Solicitante</th>
          <th scope="col">Jefe de comision</th>
          <th scope="col">Unidad</th>
          <th scope="col">Efectivos Enviados</th>
          <th scope="col">Parroquia</th>
          <th scope="col">Municipio</th>
          <th scope="col">Direccion</th>
          <th scope="col">Fecha</th>
          <th scope="col">Hora</th>
          <th scope="col">Tipo de procedimiento</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <!-- prettier-ignore -->
        {% for row in datos %}
        <tr>
          <!-- prettier-ignore -->
          <th scope="row">{{ forloop.counter }}</th>
          <!-- prettier-ignore -->
          <td>{{ row.id_solicitante.jerarquia }} {{ row.id_solicitante.nombres}} {{ row.id_solicitante.apellidos}}</td>
          <!-- prettier-ignore -->
          <td>{{ row.id_jefe_comision.jerarquia }} {{ row.id_jefe_comision.nombres}} {{ row.id_jefe_comision.apellidos}}</td>
          <!-- prettier-ignore -->
          <td>{{ row.unidad }}</td>
          <!-- prettier-ignore -->
          <td>{{ row.efectivos_enviados}}</td>
          {% if row.id_parroquia.parroquia != "Sin Registro" %}
          <td>{{ row.id_parroquia.parroquia }}</td>
          {% else %}
          <td>Otros Municipios</td>
          {% endif %}
          <!-- prettier-ignore -->
          <td>{{ row.id_municipio.municipio }}</td>
          <td>{{ row.direccion }}</td>
          <td>{{ row.fecha|date:"d-m-Y" }}</td>
          <td>{{ row.hora }}</td>
          <td>{{ row.id_tipo_procedimiento.tipo_procedimiento }}</td>
          <td class="icons-accion">
            <!-- NO TOCAR BOTON ELIMINAR-->
            <button
              type="button"
              class="button_delete"
              data-id="{{ row.id }}"
              data-id_mostrar="{{ forloop.counter }}"
              data-solicitante="{{ row.id_solicitante.jerarquia }} {{ row.id_solicitante.nombres}} {{ row.id_solicitante.apellidos}}"
              data-jefeComision="{{ row.id_jefe_comision.jerarquia }} {{ row.id_jefe_comision.nombres}} {{ row.id_jefe_comision.apellidos}}"
              data-fecha="{{ row.fecha|date:'d-m-Y'}}"
              data-tipoProcedimiento="{{ row.id_tipo_procedimiento.tipo_procedimiento }}"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
            >
              <svg
                width="109px"
                height="109px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M10 12V17"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M14 12V17"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M4 7H20"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M6 10V18C6 19.6569 7.34315 21 9 21H15C16.6569 21 18 19.6569 18 18V10"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </g>
              </svg>
            </button>

            <!-- NO TOCAR Boton informacion-->
            <button
              type="button"
              class="button-info"
              id="view-info"
              data-bs-toggle="modal"
              data-bs-target="#modal-info"
            >
              <svg
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM12 17.75C12.4142 17.75 12.75 17.4142 12.75 17V11C12.75 10.5858 12.4142 10.25 12 10.25C11.5858 10.25 11.25 10.5858 11.25 11V17C11.25 17.4142 11.5858 17.75 12 17.75ZM12 7C12.5523 7 13 7.44772 13 8C13 8.55228 12.5523 9 12 9C11.4477 9 11 8.55228 11 8C11 7.44772 11.4477 7 12 7Z"
                    fill="#000000"
                  ></path>
                </g>
              </svg>
            </button>
          </td>
        </tr>
        <!-- prettier-ignore -->
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- div general-dashboard fin -->
</div>
<!----------------------- Modal delete ---------------------------------->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="staticBackdropLabel">
          Eliminar Procedimiento
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div id="infoProcedimiento" class="infoProcedimientos"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" id="confirmarEliminar">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
<!----------------------- Modal Info ---------------------------------->
<div class="modal fade" tabindex="-1" id="modal-info">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Informacion del Procedimiento</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Texto con infromacion de la modal</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- no tocar solo dios sabe como funciona -->
<script>
  // Obtener elementos
  const infoProcedimiento = document.getElementById("infoProcedimiento");
  const confirmarEliminar = document.getElementById("confirmarEliminar");

  // Abrir modal y mostrar información
  document.querySelectorAll(".button_delete").forEach((button) => {
    button.onclick = function () {
      const id = this.getAttribute("data-id");
      const id_mostrar = this.getAttribute("data-id_mostrar");
      const solicitante = this.getAttribute("data-solicitante");
      const jefe_comision = this.getAttribute("data-jefeComision");
      const fecha = this.getAttribute("data-fecha");
      const tipo_procedimiento = this.getAttribute("data-tipoProcedimiento");
      infoProcedimiento.innerHTML = `
      <p><b>ID: </b>${id_mostrar} </p>
      <p><b>Solicitante:</b> ${solicitante}</p>
      <p><b>Jefe de Comision:</b> ${jefe_comision}</p>
      <p><b>Fecha:</b> ${fecha}</p>
      <p><b>Tipo De Procedimiento:</b> ${tipo_procedimiento}</p>`;
      confirmarEliminar.setAttribute("data-id", id);
    };
  });

  // Confirmar eliminación
  confirmarEliminar.onclick = function () {
    const id = this.getAttribute("data-id");
    eliminarProcedimiento(id);
  };

  // Función para eliminar procedimiento
  function eliminarProcedimiento(id) {
    fetch("/operaciones/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": getCookie("csrftoken"), // Asegúrate de incluir el token CSRF
      },
      body: JSON.stringify({ id: id }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          // Eliminar el procedimiento de la vista
          document
            .querySelector(`button[data-id="${id}"]`)
            .parentElement.remove();
          location.reload();
        } else {
          alert("Error al eliminar el procedimiento");
        }
      });
  }

  // Función para obtener el token CSRF
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>
{% endblock %}
