{% if user.user == "SeRvEr" %}
    {% include "layouts/panel_admin.html" %}
{% elif user.user == "Sala_Situacional" %}
    {% include "layouts/panel_sala_situacional.html" %}
{% elif user.user == "Comandancia" or user.user == "2dacomandancia" %}
    {% include "layouts/panel_comandancia.html" %}
{% elif user.user == "Operaciones01" %}
    {% include "layouts/panel_operaciones.html" %}
{% elif user.user == "Grumae02" %}
    {% include "layouts/panel_Grumae.html" %}
{% elif user.user == "Rescate03" %}
    {% include "layouts/panel_rescate.html" %}
{% elif user.user == "Prehospitalaria04" %}
    {% include "layouts/panel_prehospitalaria.html" %}
{% elif user.user == "Prevencion05" %}
    {% include "layouts/panel_prevencion.html" %}
{% elif user.user == "Serviciosmedicos06" %}
    {% include "layouts/panel_serviciosmedicos.html" %}
{% elif user.user == "Capacitacion07" %}
    {% include "layouts/panel_capacitacion.html" %}
{% elif user.user == "Enfermeria08" %}
    {% include "layouts/panel_enfermeria.html" %}
{% elif user.user == "Psicologia09" %}
    {% include "layouts/panel_psicologia.html" %}
{% endif %}

{% block content %}
    <!-- Carga el tag static al inicio del archivo -->
<div class="general-dashboard">
  <div class="div-user-name">
    <section class="user-name">
      <p>{{ jerarquia }} {{ nombres }} {{ apellidos }} / {{ user.user }}</p>
      <svg
        width="30px"
        height="30px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.0001 1.25C9.37678 1.25 7.25013 3.37665 7.25013 6C7.25013 8.62335 9.37678 10.75 12.0001 10.75C14.6235 10.75 16.7501 8.62335 16.7501 6C16.7501 3.37665 14.6235 1.25 12.0001 1.25ZM8.75013 6C8.75013 4.20507 10.2052 2.75 12.0001 2.75C13.7951 2.75 15.2501 4.20507 15.2501 6C15.2501 7.79493 13.7951 9.25 12.0001 9.25C10.2052 9.25 8.75013 7.79493 8.75013 6Z"
            fill="#000000"
          ></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.0001 12.25C9.68658 12.25 7.55506 12.7759 5.97558 13.6643C4.41962 14.5396 3.25013 15.8661 3.25013 17.5L3.25007 17.602C3.24894 18.7638 3.24752 20.222 4.52655 21.2635C5.15602 21.7761 6.03661 22.1406 7.22634 22.3815C8.4194 22.6229 9.97436 22.75 12.0001 22.75C14.0259 22.75 15.5809 22.6229 16.7739 22.3815C17.9637 22.1406 18.8443 21.7761 19.4737 21.2635C20.7527 20.222 20.7513 18.7638 20.7502 17.602L20.7501 17.5C20.7501 15.8661 19.5807 14.5396 18.0247 13.6643C16.4452 12.7759 14.3137 12.25 12.0001 12.25ZM4.75013 17.5C4.75013 16.6487 5.37151 15.7251 6.71098 14.9717C8.02693 14.2315 9.89541 13.75 12.0001 13.75C14.1049 13.75 15.9733 14.2315 17.2893 14.9717C18.6288 15.7251 19.2501 16.6487 19.2501 17.5C19.2501 18.8078 19.2098 19.544 18.5265 20.1004C18.156 20.4022 17.5366 20.6967 16.4763 20.9113C15.4194 21.1252 13.9744 21.25 12.0001 21.25C10.0259 21.25 8.58087 21.1252 7.52393 20.9113C6.46366 20.6967 5.84425 20.4022 5.47372 20.1004C4.79045 19.544 4.75013 18.8078 4.75013 17.5Z"
            fill="#000000"
          ></path>
        </g>
      </svg>
    </section>
  </div>
  <!-- card-new -->
  <div class="card-new">
    <div class="procediments-contain">
      <h4 class="title-procediments">Incidentes <span id="parroquias"></span> - Parroquias</h4>
      <div class="position-end">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button class="btn btn-outline-danger" id="btn-total-one" onclick="fetchProcedimientos('Total')">Total</button>
          <button class="btn btn-outline-danger" id="btn-month-one" onclick="fetchProcedimientos('Mes')">Mes</button>
          <button class="btn btn-outline-danger" id="bton-today-one" onclick="fetchProcedimientos('Hoy')">Hoy</button>
        </div>
      </div>
        <section class="items-cards">
         <article class="card-parroquies">
          <p>La <br>concordia</p>
           <span id="concordia" class="color-pink">0</span>
          </article>
          <article class="card-parroquies">
            <p>San <br> sebastian</p>
            <span id="san_sebastian" class="color-blue">0</span>
          </article>
          <article class="card-parroquies">
            <p>Pedro <br>Maria Morantes</p>
            <span id="pedro_m" class="color-cyan">0</span>
          </article>
          <article class="card-parroquies">
            <p>San Juan <br> Bautista</p>
            <span id="san_juan" class="color-orange">0</span>
          </article>
          <article class="card-parroquies">
            <p>Francisco <br> Romero Lobo</p>
            <span id="francisco_romero" class="color-violet">0</span>
          </article>
          <article class="card-parroquies">
            <p>Otros <br> Municipios</p>
            <span id="otros_municipios" class="color-yellow">0</span>
          </article>
        </section>
      </div>
    </div>
    <!-- resumen de procedimientos por division -->
    <div class="procediments-contain">
      <h4 class="title-procediments">Procedimientos <span id="divisiones"></span> - Divisiones</h4>
      <div class="position-end">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button class="btn btn-outline-danger" id="btn-total-two">Total</button>
          <button class="btn btn-outline-danger" id="btn-month-two">Mes</button>
          <button class="btn btn-outline-danger" id="btn-today-two">Hoy</button>
        </div>
      </div>
      <div class="items-row">
        <section class="items-list style-two">
            <ol>
                <li class="card-background-blue" data-division="grumae">
                    <p>Grumae</p>
                    <span class="count">0</span>
                </li>
                <li class="card-background-green" data-division="rescate">
                    <p>Rescate</p>
                    <span class="count">0</span>
                </li>
                <li class="card-background-violet" data-division="psicologia">
                    <p>Psicologia</p>
                    <span class="count">0</span>
                </li>
            </ol>
        </section>
        <section class="items-list style-two">
            <ol>
                <li class="card-background-red-light" data-division="operaciones">
                    <p>Operaciones</p>
                    <span class="count">0</span>
                </li>
                <li class="card-background-orange" data-division="enfermeria">
                    <p>Enfermeria</p>
                    <span class="count">0</span>
                </li>
                <li class="card-background-blue-black" data-division="prevencion">
                    <p>Prevencion</p>
                    <span class="count">0</span>
                </li>
            </ol>
        </section>
        <section class="items-list style-two">
            <ol>
                <li class="card-background-cyan" data-division="capacitacion">
                    <p>Capacitacion</p>
                    <span class="count">0</span>
                </li>
                <li class="card-background-purple" data-division="prehospitalaria">
                    <p>PreHospitalaria</p>
                    <span class="count">0</span>
                </li>
                <li class="card-background-red" data-division="servicios_medicos">
                    <p>Servicios Medicos</p>
                    <span class="count">0</span>
                </li>
            </ol>
        </section>
    </div>
    </div>
  </div>

  <!-- fin card-new -->
  <h4 class="title-stadist-parroquies">Procedimientos - Anuales</h4>
  <div class="graphic-statistics">
    <canvas id="myChart"></canvas>
  </div>
</div>
<!-- Resumen de procedimientos  -->
<h4 class="title-stadist-parroquies">Porcentajes  -   <span id="porcentajes"> </span></h4>
<div class="analitics-filters">
  <div class="position-end">
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <button class="btn btn-outline-danger" onclick="fetchPorcentajes('general')">Total</button>
      <button class="btn btn-outline-danger" onclick="fetchPorcentajes('mes')">Mes</button>
    </div>
  </div>
<div class="div-analytics">
  <!-- Botones para elegir el período -->
 <section class="progress-bar">
    <p>Operaciones</p>
    <p id="progress-text-operaciones">0%</p>
    <div
      class="progress"
      role="progressbar"
      aria-label="Success example"
      aria-valuenow="0"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="progress-bar bg-success"
        id="progress-bar-operaciones"
        style="width: 0%"
      ></div>
    </div>
  </section>
  <section class="progress-bar">
    <p>PreHospitalaria</p>
    <p id="progress-text-prehospitalaria">0%</p>
    <div
      class="progress"
      role="progressbar"
      aria-label="Success example"
      aria-valuenow="0"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="progress-bar bg-info"
        id="progress-bar-prehospitalaria"
        style="width: 0%"
      ></div>
    </div>
  </section>
  <section class="progress-bar">
    <p>Rescate</p>
    <p id="progress-text-rescate">0%</p>
    <div
      class="progress"
      role="progressbar"
      aria-label="Success example"
      aria-valuenow="0"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="progress-bar bg-warning"
        id="progress-bar-rescate"
        style="width: 0%"
      ></div>
    </div>
  </section>
  <section class="progress-bar">
    <p>Grumae</p>
    <p id="progress-text-grumae">0%</p>
    <div
      class="progress"
      role="progressbar"
      aria-label="Success example"
      aria-valuenow="0"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="progress-bar"
        id="progress-bar-grumae"
        style="width: 0%"
      ></div>
    </div>
  </section>
  <section class="progress-bar">
    <p>Servicios medicos</p>
    <p id="progress-text-servicios_medicos">0%</p>
    <div
      class="progress"
      role="progressbar"
      aria-label="Success example"
      aria-valuenow="0"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="progress-bar bg-danger"
        id="progress-bar-servicios_medicos"
        style="width: 0%"
      ></div>
    </div>
  </section>
  <section class="progress-bar">
    <p>Prevencion</p>
    <p id="progress-text-prevencion">0%</p>
    <div
      class="progress"
      role="progressbar"
      aria-label="Success example"
      aria-valuenow="0"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <div
        class="progress-bar bg-danger"
        id="progress-bar-prevencion"
        style="width: 0%"
      ></div>
    </div>
  </section>
</div>
</div>
<footer class="footer">
  <section class="text-reserved">
    <h5>2024 © Cuerpo de bomberos - San Cristobal</h>
  </section>
</footer>
<!-- fin resumen de procedimientos -->
<script src="../static/js/animate.js"></script>
<script src="../static/js/graphic.js"></script>
{% endblock %}


