<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles.css" />
    <title>Panel Principal</title>
  </head>
  <body>
    <div class="position-dashboard">
      <header class="header-dashboard">
        <section class="title-icon">
          <img
            src="../static/assets/logo bomberos 2.svg"
            alt="Logo de bomberos"
          />
          <h1>Cuerpo de Bomberos</h1>
        </section>
        <section class="tools-exit-help">
          <img src="../static/assets/help.svg" alt="help" />
          <img src="../static/assets/salir.svg" alt="exit" />
        </section>
      </header>
      <main class="main-dashboard">
        <h4>Panel de Navegacion</h4>
        <nav class="nav-dashboard">
          <a href="#">Inicio</a>
          <a href="#">Procedimientos</a>
          <details>
            <summary>Divisiones</summary>
            <a href="#">Rescate</a>
            <a href="#">Operaciones</a>
            <a href="#">Prevencion</a>
            <a href="#">PreHospitalaria</a>
            <a href="#">Capacitacion</a>
            <a href="#">Enfermeria</a>
            <a href="#">Servicios Medicos</a>
            <a href="#">Grumae</a>
            <a href="#">Psicologia</a>
          </details>
          <a href="#">Estadisticas</a>
          <a href="#">Salir</a>
        </nav>
      </main>
    </div>
  </body>
</html>
