{% extends "layouts/header-main.html" %} {% block content %}
<div class="general-dashboard">
  <div class="div-user-name">
    <section class="user-name">
      <p>{{ jerarquia }} {{ nombres }} {{ apellidos }} / {{ user.user }}</p>
      <svg
        width="30px"
        height="30px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.0001 1.25C9.37678 1.25 7.25013 3.37665 7.25013 6C7.25013 8.62335 9.37678 10.75 12.0001 10.75C14.6235 10.75 16.7501 8.62335 16.7501 6C16.7501 3.37665 14.6235 1.25 12.0001 1.25ZM8.75013 6C8.75013 4.20507 10.2052 2.75 12.0001 2.75C13.7951 2.75 15.2501 4.20507 15.2501 6C15.2501 7.79493 13.7951 9.25 12.0001 9.25C10.2052 9.25 8.75013 7.79493 8.75013 6Z"
            fill="#000000"
          ></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.0001 12.25C9.68658 12.25 7.55506 12.7759 5.97558 13.6643C4.41962 14.5396 3.25013 15.8661 3.25013 17.5L3.25007 17.602C3.24894 18.7638 3.24752 20.222 4.52655 21.2635C5.15602 21.7761 6.03661 22.1406 7.22634 22.3815C8.4194 22.6229 9.97436 22.75 12.0001 22.75C14.0259 22.75 15.5809 22.6229 16.7739 22.3815C17.9637 22.1406 18.8443 21.7761 19.4737 21.2635C20.7527 20.222 20.7513 18.7638 20.7502 17.602L20.7501 17.5C20.7501 15.8661 19.5807 14.5396 18.0247 13.6643C16.4452 12.7759 14.3137 12.25 12.0001 12.25ZM4.75013 17.5C4.75013 16.6487 5.37151 15.7251 6.71098 14.9717C8.02693 14.2315 9.89541 13.75 12.0001 13.75C14.1049 13.75 15.9733 14.2315 17.2893 14.9717C18.6288 15.7251 19.2501 16.6487 19.2501 17.5C19.2501 18.8078 19.2098 19.544 18.5265 20.1004C18.156 20.4022 17.5366 20.6967 16.4763 20.9113C15.4194 21.1252 13.9744 21.25 12.0001 21.25C10.0259 21.25 8.58087 21.1252 7.52393 20.9113C6.46366 20.6967 5.84425 20.4022 5.47372 20.1004C4.79045 19.544 4.75013 18.8078 4.75013 17.5Z"
            fill="#000000"
          ></path>
        </g>
      </svg>
    </section>
  </div>
  <section class="procedures_record">
    <h2 class="title_procedures_record">Registrar de Procedimientos</h2>
  </section>
  <section class="data_form">
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-style">
        <div>{{ form }}</div>
      </div>
      <div class="line"></div>
      <h4>Datos de la Operacion</h4>
      <div class="form-style">{{ form2.as_div }}</div>
      <div class="line"></div>
      <h4>Datos de la Ubicacion</h4>
      <div class="form-style"><div>{{ form3 }}</div></div>
      <div class="line"></div>
      <h4>Tipo de Procedimientos</h4>
      <div class="form-style"><div>{{ form4 }}</div></div>

      <article id="detalles-form">
        <!-- Detalles de Procedimiento (Abastecimiento de Agua) -->
        <div class="disp-none width" id="abast_agua">
          <div class="line"></div>
          <h4>Abastecimiento de Agua</h4>
          <div class="form-style">
            <div>{{ form_abastecimiento_agua }}</div>
          </div>
        </div>

        <!-- Detalles de Procedimiento (Apoyo a Otras Unidades) -->
        <div class="data_form disp-none" id="apoyo_unid">
          <div class="line"></div>
          <h4>Apoyo a Otras Unidades</h4>
          <div class="form-style"><div>{{ form_apoyo_unidades }}</div></div>
        </div>

        <!-- Detalles de Procedimiento (Guardia de Prevencion) -->
        <div class="data_form disp-none" id="guard_prev">
          <div class="line"></div>
          <h4>Guardia de Prevencion</h4>
          <div class="form-style"><div>{{ form_guardia_prevencion }}</div></div>
        </div>

        <!-- Detalles de Procedimiento (Atendido No Efectuado) -->
        <div class="data_form disp-none" id="atend_no_efect">
          <div class="line"></div>
          <h4>Atendido No Efectuado</h4>
          <div class="form-style">
            <div>{{ form_atendido_no_efectuado }}</div>
          </div>
        </div>

        <!-- Detalles de Procedimiento (Despliegue de seguridad) -->
        <div class="data_form disp-none" id="desp_seguridad">
          <div class="line"></div>
          <h4>Despliegue de Seguridad</h4>
          <div class="form-style">
            <div>{{ form_despliegue_seguridad }}</div>
          </div>
        </div>

        <!-- Detalles de Procedimiento (Falsa Alarma) -->
        <div class="data_form disp-none" id="falsa_alarm">
          <div class="line"></div>
          <h4>Falsa Alarma</h4>
          <div class="form-style"><div>{{ form_falsa_alarma }}</div></div>
        </div>

        <!-- Detalles de Procedimiento (Servicios_especiales) -->
        <div class="data_form disp-none" id="serv_especiales">
          <div class="line"></div>
          <h4>Servicios Especiales</h4>
          <div class="form-style">
            <div>{{ form_servicios_especiales }}</div>
          </div>
        </div>

        <!-- Detalles de Procedimiento (Fallecidos) -->
        <div class="data_form disp-none" id="fallecidos">
          <div class="line"></div>
          <h4>Fallecidos</h4>
          <div class="form-style"><div>{{ form_fallecido }}</div></div>
        </div>

        <!-- Detalles de Procedimiento (Rescate) -->
        <div class="data_form disp-none" id="rescate">
          <div class="line"></div>
          <h4>Rescate</h4>
          <div class="form-style"><div>{{ rescate_form }}</div></div>
        </div>

        <!-- Detalles de Procedimiento (Rescate Animal) -->
        <div class="data_form disp-none" id="rescate_animal">
          <div class="line"></div>
          <h4>Rescate Animal</h4>
          <div class="form-style"><div>{{ rescate_form_animal }}</div></div>
        </div>

        <!-- Detalles de Procedimiento (Rescate Persona) -->
        <div class="data_form disp-none" id="rescate_persona">
          <div class="line"></div>
          <h4>Rescate Persona</h4>
          <div class="form-style"><div>{{ rescate_form_persona }}</div></div>
        </div>

        <!-- Detalles de Procedimiento (Incendio) -->
        <div class="data_form disp-none" id="incendio_form">
          <div class="line"></div>
          <h4>Incendio</h4>
          <div class="form-style checkbox-styles">
            <div>{{ incendio_form }}</div>
            <!-- Detalles de Procedimiento (persona Presente) -->
            <div id="persona_presente">
              <h4>Datos Persona Presente</h4>
              <div>{{ persona_presente_form }}</div>
            </div>

            <!-- Detalles de Procedimiento (Detalles Vehiculos) -->
            <div id="detalles_vehiculo">
              <h4>Datos de Vehiculo</h4>
              <div>{{ detalles_vehiculo_form }}</div>
            </div>
          </div>
        </div>

        <!-- Detalles de Procedimiento (Atenciones Paramedicas) -->
        <div class="data_form disp-none" id="atenciones_paramedicas">
          <div class="line"></div>
          <h4 class="mod-title-width">Atenciones Paramedicas</h4>
          <div class="form-style checkbox-styles">
            <div>{{ atenciones_paramedicas }}</div>
          </div>
        </div>

        <!-- Detalles de Procedimiento (Emergencias Medicas) -->
        <div class="data_form disp-none" id="emergencias_medicas">
          <div class="line"></div>
          <h4>Emergencias Medicas</h4>
          <div class="form-style checkbox-styles">
            <div>{{ emergencias_medicas }}</div>
            <!-- Detalles de Procedimiento (Detalles Traslado) -->
            <div id="traslados_emergencias">
              <h4>Datos del Traslado</h4>
              <div>{{ traslados_emergencias }}</div>
            </div>
          </div>
        </div>

        <!-- Detalles de Procedimiento (Accidentes de Transito) -->
        <div class="data_form disp-none" id="accidentes_transito">
          <div class="line"></div>
          <h4>Accidentes de Transito</h4>
          <div class="form-style checkbox-styles">
            <div>{{ formulario_accidentes_transito }}</div>
            <!-- Detalles de Procedimiento (Detalles Vehiculo) -->
            <div id="vehiculo_accidente">
              <h4>Datos del Vehiculo</h4>
              <div>{{ detalles_vehiculo_accidentes }}</div>
            </div>
            <!-- Detalles de Procedimiento (Detalles Vehiculo) -->
            <div id="otro_vehiculo_accidente">
              <h4>Otro Vehiculo</h4>
              <div>{{ detalles_vehiculo_accidentes2 }}</div>
            </div>
            <!-- Detalles de Procedimiento (Detalles Vehiculo) -->
            <div id="otro_vehiculo_accidente2">
              <h4>Ultimo Vehiculo</h4>
              <div>{{ detalles_vehiculo_accidentes3 }}</div>
            </div>
            <!-- Detalles de Procedimiento (Detalles Lesionado) -->
            <div id="lesionado_accidente">
              <h4>Datos del Lesionado</h4>
              <div>{{ detalles_lesionados_accidentes }}</div>
            </div>
            <!-- Detalles de Procedimiento (Detalles Traslado) -->
            <div id="traslado_accidente">
              <h4>Datos del Traslado</h4>
              <div>{{ traslados_accidentes }}</div>
            </div>
          </div>
        </div>

        <!-- Detalles de Procedimiento (Evaluacion de Riesgo) -->
        <div class="data_form disp-none" id="evaluacion_riesgo">
          <div class="line"></div>
          <h4>Evaluacion de Riesgo</h4>
          <div class="form-style">
            <div>{{ evaluacion_riesgo_form }}</div>
            <div id="form_persona_presente" class="disp-none">
              <h4>Persona Presente</h4>
              <div>{{ persona_presente_eval_form }}</div>
            </div>
          </div>
        </div>

        <!-- Detalles de Procedimiento (Mitigacion de Riesgo) -->
        <div class="data_form disp-none" id="mitigacion_riesgo">
          <div class="line"></div>
          <h4>Mitigacion de Riesgo</h4>
          <div class="form-style"><div>{{ mitigacion_riesgo_form }}</div></div>
        </div>

        <!-- Detalles de Procedimiento (Mitigacion de Riesgo) -->
        <div class="data_form disp-none" id="puesto_avanzada">
          <div class="line"></div>
          <h4>Puesto de Avanzada</h4>
          <div class="form-style"><div>{{ puesto_avanzada_form }}</div></div>
        </div>

        <!-- Detalles de Procedimiento (Mitigacion de Riesgo) -->
        <div class="data_form disp-none" id="traslados_prehospitalaria">
          <div class="line"></div>
          <h4>Traslados</h4>
          <div class="form-style">
            <div>{{ traslados_prehospitalaria_form }}</div>
          </div>
        </div>

        <!-- Detalles de Procedimiento (Asesoramiento) -->
        <div class="data_form disp-none" id="asesoramiento_form">
          <div class="line"></div>
          <h4>Asesoramiento</h4>
          <div class="form-style"><div>{{ asesoramiento_form }}</div></div>
        </div>

        <!-- Detalles de Procedimiento (Reinspeccion de Prevencion) -->
        <div class="data_form disp-none" id="reinspeccion_prevencion">
          <div class="line"></div>
          <h4>Reinspeccion de Prevencion</h4>
          <div class="form-style"><div>{{ reinspeccion_prevencion }}</div></div>
        </div>

        <!-- Detalles de Procedimiento (Retencion Preventiva) -->
        <div class="data_form disp-none" id="retencion_preventiva">
          <div class="line"></div>
          <h4>Retencion Preventiva</h4>
          <div class="form-style"><div>{{ retencion_preventiva }}</div></div>
        </div>
      </article>

      <!-- Boton Enviar -->
      <button type="submit" id="button_submit" class="disp-none">
        Aceptar
      </button>
    </form>
    <div class="line"></div>
  </section>
</div>
<!-- Modal de error -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="staticBackdropLabel">Advertencia</h2>
      </div>
      <div class="modal-body">
        <svg
          width="120px"
          height="120px"
          viewBox="0 0 36 36"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          role="img"
          class="iconify iconify--twemoji"
          preserveAspectRatio="xMidYMid meet"
          fill="#000000"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              fill="#FFCC4D"
              d="M2.653 35C.811 35-.001 33.662.847 32.027L16.456 1.972c.849-1.635 2.238-1.635 3.087 0l15.609 30.056c.85 1.634.037 2.972-1.805 2.972H2.653z"
            ></path>
            <path
              fill="#231F20"
              d="M15.583 28.953a2.421 2.421 0 0 1 2.419-2.418a2.421 2.421 0 0 1 2.418 2.418a2.422 2.422 0 0 1-2.418 2.419a2.422 2.422 0 0 1-2.419-2.419zm.186-18.293c0-1.302.961-2.108 2.232-2.108c1.241 0 2.233.837 2.233 2.108v11.938c0 1.271-.992 2.108-2.233 2.108c-1.271 0-2.232-.807-2.232-2.108V10.66z"
            ></path>
          </g>
        </svg>
        <h3>Datos incorrectos, verifique todos los campos.</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<script src="../static/js/procedimientos.js"></script>
{% if errors %}
<script>
  // Si Django envía la variable 'error', mostramos la ventana modal de error
  var errorModal = new bootstrap.Modal(
    document.getElementById("staticBackdrop")
  );
  errorModal.show();
</script>
{% endif %}
<!-- Incluye Bootstrap JS y dependencias -->
{% endblock %}
