{% extends "blog.html" %} {% block content %}
<div class="inicial-carrousel-one">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..." class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="..." />
      </div>
    </div>
  </div>
</div>
<div class="section-area-tecnical-function">
  <div class="name-fuction">
    <h3>Area Tecnica</h3>
  </div>
  <div class="link-function">
    <section class="atention-person">
      <a href="#">
        <img src="../../static/assets/image 13.svg" alt="" />
      </a>
      <span>Atencion Al Ciudadano</span>
    </section>
    <section class="atention-person">
      <a href="#">
        <img src="../../static/assets/image 14.svg" alt="" />
      </a>
      <span>Requisitos</span>
    </section>
    <section class="atention-person">
      <a href="#">
        <img src="../../static/assets/image 16.svg" alt="" />
      </a>
      <span>GLP</span>
    </section>
    <section class="atention-person">
      <a href="#">
        <img src="../../static/assets/drone.svg" alt="" />
      </a>
      <span>Drones</span>
    </section>
    <section class="atention-person">
      <a href="#">
        <img src="../../static/assets/image 17.svg" alt="" />
      </a>
      <span>Permisos</span>
    </section>
    <section class="atention-person">
      <a href="#">
        <img src="../../static/assets/image 18.svg" alt="brigada juvenil" />
      </a>
      <span>Brigada Juvenil</span>
    </section>
  </div>
</div>
<div class="services-institutional">
  <div class="name-fuction">
    <h3>Servicios Institucionales</h3>
  </div>
  <div class="operations">
    <div class="card-operation">
      <a href="#">Servicios Medicos</a>
    </div>
    <div class="card-operation">
      <a href="#">Capacitaciones</a>
    </div>
    <div class="card-operation">
      <a href="#">Servicios Piscologicos</a>
    </div>
    <div class="card-operation">
      <a href="#">Seguridad y Prevencion</a>
    </div>
  </div>
</div>
<div class="inicial-carrousel-one">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..." class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="..." />
      </div>
    </div>
  </div>
</div>
<div class="institutional-comand">
  <section class="contain-comand">
    <article class="card-comand"></article>
    <article class="content-card-comand">
      <h2>Mando Institucional</h2>
      <p>
        La Profesion De Bombero, Demanda esfuerzo y sacrificio. superar nuestros
        limites y sobre todo enfrentarse a ambientes complicados.
      </p>

      <p>
        General (B) MSC. Antonio Jose Briceño Comandante Cuerpo de bomberos del
        Estado Tachira
      </p>
      <button class="btn btn-danger">
        <a href="#" class="decoration-none">Perfil Professional</a>
      </button>
    </article>
  </section>
</div>
<div class="client-info">
  <section class="background-img-info">
    <article class="information-background">
      <h3>Nuestras Estaciones y Atencion Al Usuario</h3>
      <p>
        Estamos presentes en puntos estrategicos de la ciudad de san cristobal
        para cuidar siempre de ti.
      </p>
    </article>
  </section>
  <section class="background-img-localitation"></section>
</div>
{% endblock %}
